.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkboxRow {
  display: flex;
  gap: 10px;
}

.privacyInfo {
  font-size: 14px;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 0.5px solid var(--black);
}
