.container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 7px 16px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 7px 16px -5px rgba(66, 68, 90, 1);
  box-shadow: 0px 7px 16px -5px rgba(66, 68, 90, 1);
  z-index: 2;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  opacity: 0.5;
  z-index: 1;
}

.message {
  font-weight: 600;
}

.btn {
  display: grid;
  place-items: center;
  width: 112px;
  padding: 5px;
  background-color: var(--dark-gray);

  &:hover {
    opacity: 0.9;
  }
}
