.square {
  width: 15.8px;
  height: 15.8px;
  background-color: var(--red);
}

.halfLogoBox {
  display: flex;
  flex-direction: column;
  div:nth-child(even) {
    margin-left: 15.8px;
  }
  div:nth-child(3) {
    margin-left: calc(15.8px * 2);
  }
}

.container {
  display: flex;
  gap: 16px;
  width: 112px;
  height: 79px;
  .firstLogo:nth-child(1) {
    animation: move 1s linear infinite;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
